# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Production build directories
dist/
dist-ssr/
dev-dist/
target/
*.war
*.sar
*.ear
*.jar
*.class

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vite.err.log
vite.out.log
boot.err.log
boot.full.log
boot.out.log
hs_err_pid*.log

# OS metadata files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings/
.factorypath

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
powershell.cmd
